<h1>{{name}}</h1>
<h4>{{desc}}</h4>
<p>{{info}}</p>

<!-- optional image here -->
<img class="bottlePic" src="/images/{{pic1}}" alt="Bottle Image"> 
<img class="bottlePic" src="/images/{{pic2}}" alt="Bottle Image"> 
<img class="bottlePic" src="/images/{{pic3}}" alt="Bottle Image"> 
{{!-- remember when you are working with exprss and nodes, images and videos need to have these img src thing still --}}
