<img id="home-logo" src="images/swell.png" alt="swell logo">
{{!-- <h1>{{title}}</h1> --}}

<nav>   
    <a class="menu-item" href="#">Corporate Gifts</a>
    <a class="menu-item" href="#">Sale</a>
    <a class="menu-item" href="#">Personalize</a>
    <a class="menu-item" href="#">New Arrivals</a>
    <a class="menu-item" href="#">Shop</a>
</nav>


<h1>{{name}}</h1>
<h4>{{desc}}</h4>
<p>{{info}}</p>


<!-- optional image here -->
<img class="bottlePic" src="/images/{{pic1}}" alt="Bottle Image"> 
<img class="bottlePic" src="/images/{{pic2}}" alt="Bottle Image"> 
<img class="bottlePic" src="/images/{{pic3}}" alt="Bottle Image"> 
<img class="bottlePic" src="/images/{{pic4}}" alt="Bottle Image"> 
<img class="bottlePic" src="/images/{{pic5}}" alt="Bottle Image"> 
{{!-- remember when you are working with exprss and nodes, images and videos need to have these img src thing still --}}
